// VARIABLES 
$text-foot:20px;
$color-principal: #1A3D60;
$color-letra: #fff;
$color-letra2: #0b8ffc;
$color-gradient:  linear-gradient(185deg,
#1a3e56 0%,
#294a66 27%,
#375876 41%,
#456687 49%,
#567699 57%,
#6483aa 65%,
#7592bd 73%,
#87a1cf 82%,
#98b1e1 91%,
#a9bef4 100%);

$tamaño-titulo: 100px;
$tamaño-subt: 50px;

$font-family: 'Montserrat', sans-serif;
// FIN VARIABLES